.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.nav-link {
  color: #ff4c68;
}

.font-size-nav {
  font-size: 1.2rem;
}

.navbar .navbar-nav .nav-item {
  position: relative;
}

.navbar .navbar-nav .nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  content: "";
  background-color: #ff4c68;
  width: 0%;
  height: 4px;
  transition: all 0.5s;
}

.navbar .navbar-nav .nav-item:hover::after {
  width: 100%;
}

ul.navbar-nav a:hover { 
  color: #ff4c68 !important; 
}

.icon-square {
  width: 4rem;
  height: 4rem;
  border-radius: 0.75rem;
}

.icon-features {
  color: #fff;
}

.bg-body-secondary {
  background-color: #ff4c68!important;
}

.dogs{
 color: whitesmoke;
}

img.dog {
  height: 100px;
  border-radius: 50%;
}

.contact {
  text-align: center;
  font-size: 3rem;
}

/*This is modifying the btn-primary colors but you could create your own .btn-something class as well*/
.btn-outline-primary {
  color: black;
  border-color: #ff4c68; /*set the color you want here*/
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active {
  color: #fff;
  background-color: #ff4c68;
  border-color: #ff4c68; /*set the color you want here*/
}

.bg-custom {
  color: #fff;
  background-color: #ff4c68;
  border-color: #ff4c68;
}